.repo-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

@media screen and (max-width: 990px) {
    .repo-list {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}